<p id="notice"><%= notice %></p>

<h1>Witnesses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Complaint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @witnesses.each do |witness| %>
      <tr>
        <td><%= witness.user_id %></td>
        <td><%= witness.complaint_id %></td>
        <td><%= link_to 'Show', witness %></td>
        <td><%= link_to 'Edit', edit_witness_path(witness) %></td>
        <td><%= link_to 'Destroy', witness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Witness', new_witness_path %>
