<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :secondname %>
    <%= form.text_field :secondname %>
  </div>

  <div class="field">
    <%= form.label :firstsurname %>
    <%= form.text_field :firstsurname %>
  </div>

  <div class="field">
    <%= form.label :secondsurname %>
    <%= form.text_field :secondsurname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
